.light-mode .products-container{
    background-color: var(--extra-light-color);
}

.dark-mode .products-container{
    background-color: var(--extra-dark-color);
}

.products-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0 1rem 0;
    flex: 1;
}

#products-section{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.light-mode .discount-banner{
    background-color: var(--dark-color);
    color: var(--light-color);
}

.dark-mode .discount-banner{
    background-color: var(--light-color);
    color: var(--dark-color);
}

.discount-banner{
    width: 70%;
    padding: 1rem;
    font-weight: bold;
    border-radius: 1rem;
    text-align: center;
    font-family: poppins-bold;
}