.product-list {
    display: grid;
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    gap: 2rem;
    min-height: 300px;
    flex: 1;
    margin: 1.5rem;
}

.search-message {
    color: var(--medium-color);
}

.search-message {
    grid-column: 1 / -1;
    text-align: center;
    margin: auto;
    font-size: 1.5rem;
}

.light-mode .add-product-button{
    background-color: var(--light-color);
}

.dark-mode .add-product-button{
    background-color: var(--dark-color);
}

.add-product-button{
    font-size: 6rem;
    padding: 0;
    color: var(--detail-color);
    border: 3px solid var(--detail-color);
    max-height: 800px;
}

.add-product-button:hover{
    border-color: var(--detail-light-color);
    color: var(--detail-light-color);
}


/* Responsividad */
@media (min-width: 700px) {
    .product-list {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
}

@media (min-width: 970px) {
    .product-list {
        grid-template-columns: repeat(3, minmax(200px, 1fr));
    }
}

@media (min-width: 1330px) {
    .product-list {
        grid-template-columns: repeat(4, minmax(200px, 1fr));
    }
}

@media (min-width: 1580px) {
    .product-list {
        grid-template-columns: repeat(5, minmax(200px, 1fr));
    }
}
