.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: -60px;
    z-index: 1000;
    opacity: 0;
    transition: all 0.3s ease;
}

.scroll-to-top.visible {
    right: 20px;
    opacity: 1;
}

.light-mode .scroll-button {
    background-color: var(--dark-color);
    color: var(--light-color);
}

.dark-mode .scroll-button {
    background-color: var(--light-color);
    color: var(--dark-color);
}

.scroll-button {
    border: none;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.scroll-button:hover {
    background-color: var(--medium-color);
}
