.light-mode .product-card {
    background-color: var(--light-color);
    color: var(--dark-color);
}

.dark-mode .product-card {
    background-color: var(--dark-color);
    color: var(--light-color);
}

.product-card {
    min-width: 280px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    cursor: pointer;
    transition: transform 200ms ease-in-out, box-shadow 200ms ease-in-out;
}

.product-card-container{
    display: flex;
    max-height: 800px;
}

.product-card:hover {
    transform: scale(102%);
}

.product-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product-info {
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.product-detail-link{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.product-title {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 4.5em;
}

.light-mode .product-title {
    color: var(--extra-dark-color);
}

.dark-mode .product-title {
    color: var(--extra-light-color);
}

.light-mode .product-description {
    color: var(--dark-color);
}

.dark-mode .product-description {
    color: var(--light-color);
}

.product-description {
    font-size: 14px;
    margin: 10px 0;
    display: flex;
    align-items: start;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 9em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
}

.product-price {
    font-size: 16px;
    font-family: poppins-bold;
    margin: 10px 0;
    flex: 1;
    align-content: end;
}

.add-to-cart-button:hover {
    background-color: var(--detail-light-color);
}

.add-to-cart-button {
    background-color: var(--detail-color);
    color: var(--extra-light-color) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 0 0 10px 10px;
    font-family: poppins-medium;
    max-height: 50px;
}

.light-mode .admin-controls-container {
    background-color: var(--light-color);
}

.dark-mode .admin-controls-container {
    background-color: var(--dark-color);
}

.light-mode .admin-control-button{
    color: var(--dark-color);
}

.dark-mode .admin-control-button{
    color: var(--light-color);
}

.light-mode .admin-control-button:hover{
    background-color: var(--extra-light-color);
}

.dark-mode .admin-control-button:hover{
    background-color: var(--extra-dark-color);
}

.admin-control-button:active{
    transform: scale(92%);
}

.admin-control-button{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-controls-container {
    display: flex;
    width: 100%;
    justify-content: end;
    padding: 0.3rem;
    box-sizing: border-box;
    gap: 0.5rem;
}