.light-mode .back-button{
    border:2px solid var(--dark-color);
    color: var(--dark-color);
}

.dark-mode .back-button{
    border:2px solid  var(--light-color);
    color: var(--light-color);
}

.light-mode .back-button:hover{
    background-color: var(--light-color);
}

.dark-mode .back-button:hover{
    background-color: var(--dark-color);
}

.back-button-link{
    width: 100px;
}

.back-button{
    border-radius: 1rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    font-family: poppins-medium;
}