@import url(../../variables.css);

.light-mode .nav-bar {
    background-color: var(--light-lessOpaque-color);
    color: var(--dark-color);
}

.dark-mode .nav-bar {
    background-color: var(--dark-lessOpaque-color);
    color: var(--light-color);
}

.light-mode .nav-bar button {
    color: var(--dark-color);
}

.dark-mode .nav-bar button {
    color: var(--light-color);
}

.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
}

.light-mode .icons-container > * {
    color: var(--dark-color);
}

.dark-mode .icons-container > * {
    color: var(--light-color);
}

.icons-container > * {
    border: 2px solid transparent;
    font-size: 18px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    height: 40px;
    width: 40px;
    padding: 0;
}

.light-mode .icons-container > *:hover {
    background-color: var(--extra-light-color);
}

.dark-mode .icons-container > *:hover {
    background-color: var(--extra-dark-color);
}

.search-bar {
    flex-grow: 1;
    border-radius: 2rem;
    padding: 0.6rem;
    padding-left: 1rem;
    font-family: poppins-medium;
    margin: 0 0.5rem;
}

.logo-button {
    background-color: transparent;
}

.light-mode .logo {
    color: var(--extra-dark-color);
}

.dark-mode .logo {
    color: var(--extra-light-color);
}

.logo {
    font-size: 20px;
    font-family: poppins-bold;
    margin: 0 0.5rem;
}

.icons-container {
    display: flex;
    flex-direction: row;
    gap: 0 0.6rem;
    align-items: center;
}

.nav-container {
    display: flex;
    flex-direction: row;
    gap: 0 0.3rem;
    align-items: center;
    font-family: poppins-bold;
}

.nav-container:last-child {
    flex-grow: 1;
}

.menu-item {
    padding: 0.5rem 1rem;
    border-radius: 2rem;
}

.nav-bar .icons-container > *:active {
    transform: scale(92%);
}

.nav-bar .icons-container button,
.nav-bar a {
    border: 2px solid transparent;
}

/* .light-mode .menu-item:hover {
    background-color: var(--extra-light-color);
}

.dark-mode .menu-item:hover {
    background-color: var(--extra-dark-color);
} */

.cart-bubble {
    position: absolute;
    background-color: var(--danger-color);
    color: var(--extra-light-color);
    border-radius: 50%;
    padding: 0 6px;
    font-size: 12px;
    margin: 16px 0 0 -6px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-menu-list {
    display: flex;
    gap: 1rem;
}

.light-mode .nav-toggler div {
    background: var(--extra-dark-color);
}

.dark-mode .nav-toggler div {
    background: var(--extra-light-color);
}

.nav-toggler div {
    width: 1.6rem;
    height: 2px;
    margin: 0.4rem;
    transition: all 0.3s ease-in;
}

.nav-toggler {
    cursor: pointer;
    display: none;
}

header {
    position: sticky;
    top: 0;
    z-index: 1002;
}

.nav-item{
    position: relative;
}

.nav-item:hover .dot {
    opacity: 1;
    transform: scale(1);
}

.light-mode .dot {
    background-color: var(--dark-color);
}

.dark-mode .dot {
    background-color: var(--light-color);
}

.dot {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: scale(0);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s ease-in-out;
}

@media screen and (max-width: 1114px) {
    .nav-bar {
        flex-direction: column;
    }

    .nav-container {
        width: 100%;
        justify-content: space-between;
    }
}

@media screen and (max-width: 768px) {

    .nav-item{
        font-size: 1.5rem;
    }

    .nav-container:first-child {
        height: 56px;
    }

    .nav-toggler {
        display: block;
        z-index: 1001;
    }

    .light-mode .nav-menu-list {
        background: var(--light-color);
    }

    .dark-mode .nav-menu-list {
        background: var(--dark-color);
    }

    .nav-menu-list {
        position: fixed;
        top: 132px;
        right: -80px;
        width: 280px;
        height: calc(100vh - 132px);
        flex-direction: column;
        margin: 0;
        padding: 2rem 0 0 1rem;
        z-index: 1000;
        gap: 2rem;
    }
}

/* Nav active class */

/* .nav-active {
    transform: translateX(0);
} */

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}
