@import url(../../variables.css);

.light-mode .nav-bar {
    background-color: var(--light-color);
    color: var(--dark-color);
}

.dark-mode .nav-bar {
    background-color: var(--dark-color);
    color: var(--light-color);
}

.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap;
}

.light-mode .icons-container > * {
    color: var(--dark-color);
}

.dark-mode .icons-container > * {
    color: var(--light-color);
}

.icons-container > * {
    border: none;
    font-size: 18px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    height: 40px;
    width: 40px;
    padding: 0;
}

.light-mode .icons-container > *:hover {
    background-color: var(--extra-light-color);
}

.dark-mode .icons-container > *:hover {
    background-color: var(--extra-dark-color);
}

.search-bar {
    flex-grow: 1;
    border-radius: 2rem;
    padding: 0.6rem;
    padding-left: 1rem;
    font-family: poppins-medium;
    margin: 0 0.5rem;
}

.logo {
    font-size: 20px;
    font-family: poppins-bold;
    margin: 0 0.5rem;
}

.icons-container {
    display: flex;
    flex-direction: row;
    gap: 0 0.6rem;
    align-items: center;
}

.nav-container {
    display: flex;
    flex-direction: row;
    gap: 0 0.3rem;
    align-items: center;
    font-family: poppins-bold;
}

.nav-container:last-child {
    flex-grow: 1;
    flex-wrap: wrap;
}

.menu-item {
    padding: 0.5rem 1rem;
    border-radius: 2rem;
}

.light-mode .menu-item:hover {
    background-color: var(--extra-light-color);
}

.dark-mode .menu-item:hover {
    background-color: var(--extra-dark-color);
}

@media (max-width: 619px) {
    .nav-container:first-child {
        flex-wrap: wrap;
    }

    .menu-item {
        flex-basis: 100%;
    }

    .menu-item {
        margin-bottom: 1rem;
    }

    .nav-container > * {
        margin-bottom: 1rem;
    }
}
