@import url(./variables.css);

:root {
    font-family: poppins-regular ,Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color: var(--dark-color);
    background-color: var(--light-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: poppins-regular;
    src: url(./assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppins-bold;
    src: url(./assets/fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: poppins-medium;
    src: url(./assets/fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: poppins-extra-bold;
    src: url(./assets/fonts/Poppins-ExtraBold.ttf);
}

p {
    margin: 0;
}

hr {
    border: 0;
    border-bottom: 2px solid var(--medium-color);
    border-radius: 1rem;
    width: 90%;
}

a:link{color:inherit}
a:active{color:inherit}
a:visited{color:inherit}
a:hover{color:inherit}

a, button {
    text-decoration: inherit;
    transition: transform 0.2s ease-in-out;
}

body {
    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-family: poppins-extra-bold;
}

h2 {
    font-family: poppins-bold;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: transparent;
    cursor: pointer;
}

button:focus,
button:focus-visible {
    outline: none;
}

button.added-to-cart {
    background-color: green !important;
}

.light-mode ::placeholder{
    color: var(--medium-color);
}

.light-mode input,
.light-mode textarea{
    border: none;
    background-color: var(--extra-light-color);
    color: var(--dark-color);
    box-sizing: border-box;
    outline: 3px solid transparent;
    transition: outline 0.3s ease-in-out;
}

.dark-mode ::placeholder{
    color: var(--medium-color);
}

.dark-mode input,
.dark-mode textarea{
    border: none;
    background-color: var(--extra-dark-color);
    color: var(--light-color);
    box-sizing: border-box;
    outline: 3px solid transparent;
    transition: outline 0.3s ease-in-out;
}

input:focus,
input:focus-visible,
textarea:focus,
textarea:focus-visible {
    outline: 3px solid var(--medium-color);
}