:root{
    --extra-light-color: #e8eaf3;
    --light-color: #d8dbe3;
    --light-lessOpaque-color: #d8dbe3ec;
    --medium-light-color: #8a9ab9;
    --medium-color: #646f85;
    --medium-dark-color: #3e4553;
    --dark-color: #2f3444;
    --dark-lessOpaque-color: #2f3444ec;
    --extra-dark-color: #242938;

    --alert-color: #d58800;
    --alert-light-color: #db9b2d;
    --danger-color: #ff1d1d;
    --danger-light-color: #ff4848;
    --detail-color: #1869ff;
    --detail-light-color: #2f78ff;
}