:root{
    /* --primary-light-color: #f9f9f9;
    --primary-dark-color: #3c3c3c;
    --secondary-light-color: #e9e9e9;
    --secondary-dark-color: #363636;
    --shadow-light-color: #00000048;
    --shadow-dark-color: #ffffff48; */
    
    --extra-light-color: #ebe8f3;
    --light-color: #dbd8e3;
    --medium-color: #6d6485;
    --dark-color: #352f44;
    --extra-dark-color: #2a2438;
}